<h1>Fruits in Stock</h1>
<div class="class">
<div id="fruit">
  <app-box [img]= "img1" title="STRAWBERRY (PER PACKET - 200 GRAMS)
  RS. 95 "></app-box>
  <app-box [img]= "img2" title="INDIAN ORANGE - NEW SEASON (PER 500 GRAMS)
  RS. 85 "></app-box>
</div>
<div id="fruit1">
  <app-box [img]= "img3" title="INDIAN GUAVA (PER 500 GRAMS)
  RS. 68"></app-box>
  <app-box [img]= "img4" title="FIGS - ANJEER (PER 4 PIECES)
  RS. 135"></app-box>
</div>
<div id="fruit2">
  <app-box [img]= "img5" title="IMPORTED KIWI (PER 2 PIECES)
  RS. 130"></app-box>
  <app-box [img]= "img6" title="IMPORTED BLUEBERRY (125 GRAMS)
  RS. 530"></app-box>
</div>
</div>
